!!$HOME/.Xdefaults
URxvt.inputMethod:fcitx
URxvt.depth:32
URxvt.inheritPixmap:true


Rxvt.background:black
Rxvt.foreground:green
!!! scrollbar
URxvt.scrollBar:True
URxvt.scrollBar_right:True
URxvt.scrollBar_floation:False
URxvt.scrollStyle:plain


URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True


!!! border
URxvt.borderLess:False


Xft.dpi:96
!URxvt.font:xft:Monaco:size=12,xft:DejaVu Sans Mono for Powerline:style=Bold:size:12,xft:HYLuoHuaShi:size=12
URxvt.font:xft:Droid Sans Mono Awesome:style=Regular:size=12
!URxvt.boldfont:xft:Monaco:size=13,xft:DejaVu Sans Mono for Powerline:size:13,xft:HYLuoHuaShi:size=13
URxvt.boldfont:xft:Droid Sans Mono Awesome:style=Regular:size=13
